<!doctype html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <form id=login>
            <label>Nombre</label>
            <input type="text" id="nombre">
            <br><br>
            <label>Contraseña</label>
            <input type="password" id="contra"> <br><br>
            <button type="button" onclick="login()">Login</button>
            <button type="button" onclick="window.location.href='{{ url_for( 'registro' ) }}';">Registrarse</button>
        </form>
    <script src="static/script/login.js"></script>
    </body>
</html>
<!-- type="button" onclick="registro()" -->