<!doctype html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>

        <h2>REGISTRO</h2>
        <form id=registrarse>
            <label>Nombre</label>
            <input type="text" id="nombre">
            <br><br>
            <label>Contraseña</label>
            <input type="password" id="contra">
            <button type="button" onclick="registrarse()">Registrar</button>
        </form>
  <script src="static/script/registrarse.js"></script>
  </body>
</html>

